body{
    padding: 0;
    margin: 0;
}

/* navbar */

header{
    /* width: 100%;
    z-index: 9;
    padding: 15px 0px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 11px 68px 0px rgb(0 0 0 / 14%); */
}
nav{
    box-shadow: 0px 11px 68px 0px rgb(0 0 0 / 14%); 

}
.navbar-brand img{
    width: 2rem;
}
.navbar-nav li{
    font-size: 15px;
    font-weight: 600;
    margin-right: 55px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
.navbar-nav .nav-link:hover {
    color: #0e6aa9 !important;
}
.btn-signup{
    height: 3rem;
    width: 8rem;
    text-align: center;
    border-radius: 50px;
    margin-right: 20px;
    font-weight: 700;
    color: #010101;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    border: 2px solid #0e6aa9;
}

/* navbar ends here */

.hero-section{
    padding: 3rem 1rem 0rem;
}
.hero-section h1{
    font-size: 2.3rem;
}
.get-started a{
    height: 50px;
    width: 175px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    margin-right: 20px;
    font-weight: 700;
    color: #010101;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    border: 2px solid #0e6aa9;
}
.hero-section img{
    width: 100%;
}

/* services */
.services{
    padding: 3rem 2rem;
}
.span{
    color: #0e6aa9;
    font-size: 18px;
    font-weight: 500;
    padding: 3px 30px;
    border-radius: 8px;
    display: inline-block;
    background-color: #c2dced;

}
.card{
    border-radius: 10px;
    padding: 25px 30px 30px 35px;
    z-index: 1;
    background-color: #fff;
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 20px 81px 0px rgb(8 0 20 / 14%);
}
.download-app a{
    color: #0e6aa9;
    text-decoration: none;
}
.download-app a:hover{
    color: #72b6e0;
}


/* about */
.about{
    padding: 3rem 2rem;
    background-color: #ebedf2;
}
.about img{
    width: 100%;
}
.about a{
    color: #0e6aa9;
    text-decoration: none;
}
.about a:hover{
    color: #72b6e0;
}

/* features */
.features{
    padding: 3rem 2rem;
}
.features img{
    width: 3rem;
}
.more-features{
    padding: 3rem 2rem;
    background-color: #ebedf2;
}
.more-features img{
    width: 70%;
}

/* team */
.team{
    padding: 4rem;
}

.team img{
    width: 130px !important;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 1.5rem;
}
.team .profile{
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    /* box-shadow: 0px 12px 43px 0px rgb(0 0 0 / 13%); */
}
.team p{
    color: #0e6aa9;
    font-weight: 500;
}
.team h2{
    font-weight: 500;
}

.team .profile:hover{
    background-color: #4a81a5;
    color: #ffffff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0e6aa9 !important; 
}
/* .item{
    width: 270px;
    margin-right: 30px;
    
} */

/* FAQ */
.faq{
    padding: 3rem 2rem;
    /* background-color: #ebedf2; */
}

/* pricing */

.pricing{
    background-color: #ebedf2;
    padding: 3rem 2rem;
}


.price-cards .checked{
        width: 22px;
        height: 22px;
        margin-right: 10px;
        border-radius: 100%;
        line-height: 22px;
        position: relative;
        box-shadow: 0px 6px 18px 0px rgb(0 197 0 / 50%);
        background-image: linear-gradient(0deg, #00f500 1%, #00db00 53%, #00c000 100%);
}

.accordion-button::after {
    background-image: url('../images/plus.svg') !important;
}
.accordion-button {
    border: none;
    color: #010101;
    font-size: 19px;
    font-weight: 700;
}
.accordion-button:not(.collapsed) {
    color: #000000;
    background: none;
}
.accordion-button:focus {
    z-index: 3;
    border:none !important;
    outline: 0;
    box-shadow: none !important;
}

footer{
    background-color:#2c6a94 ;
    color: #ffffff;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}
footer ul{
    padding-left: 0 !important;
}
footer ul li{
    list-style: none;
}

.footer-items{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.sub-footer {
    background-color: #164d73;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* media queries */
@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
   
 }

@media (min-width: 992px) { 
    .hero-section{
        padding-top: 5rem;
    }
    .hero-section h1{
        font-size: 55px;
    }
    .services, .about, .features, .more-features, .faq, .pricing{
        padding: 4rem;
    }
    .services h2{
        font-size: 40px;
    }
    .footer-items{
        padding-top: 4rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .sub-footer {
        background-color: #164d73;
        padding-left: 7rem;
        padding-right: 7rem;
    }

    
    
 }

@media (min-width: 1200px) { 

}